@page
@model IndexModel
@{
    ViewData["Title"] = "Bakery Client";
}

<div class="text-center">
    <h1 class="display-4">Bread Production</h1>
    <p>Production History</p>
</div>
<div class="container p-3">
    <form method="post">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h3>Register Bread Production</h3>
            </div>
             <div class="mb-3">
                <label for="ProductionAmount" style="width:25%">Production Amount : </label>
                <input type="number" name="ProductionAmount" min=0 />
            </div>
            <div class="mb-3">
                <label for="ProductionDate" style="width:25%">Production Date : </label>
                <input type="date" name="ProductionDate" />
            </div>
            <div class="mb-3">
                <label for="ExpirationDate" style="width:25%">Expiration Date : </label>
                <input type="date" name="ExpirationDate" />
            </div>
           
            <input type="submit" name="Transfer" class="btn btn-primary" style="width: 150px;" value="Register"/>
        </div>
       
    </form>

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h3>Bread Production Log</h3>
        </div>
         <table class="table table-bordered table-striped" style="width:100%">
            <thead class="fw-bold">
                <tr>
                    <td width="25%">Id Production</td>
                    <td width="25%">Production Amount</td>   
                    <td width="25%">Production Date</td>   
                    <td width="25%">Expiration Date</td>   
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model.TransferLogs)
                {
                    <tr>
                        <td>@obj.Id</td>
                        <td>@obj.ProductionAmount</td>   
                        <td>@obj.ProductionDate</td>   
                        <td>@obj.ExpirationDate</td>  
                    </tr> 
                }
            </tbody>
        </table>
    </div>
   
</div>
